@media (max-width: 1199px) {
  .music-icon {
    padding: 2px;
    margin-left: -12px ;
    margin-bottom: 18px;
  }
  .rotating {
    animation: rotate 4s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  .text-underline-red {
    text-decoration-color: #E80358;
    margin-top: 2px;
    padding-top: 2px;
  }
  .transition-slow {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  .text-E80358 {
    color: #E80358;
  }
  .scale-0 {
    transform: scale(0);
  }
  .bleffect{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)10%    , rgba(0, 0, 0, 1));

  }
  .scale-100 {
    transform: scale(1);
  }
  

  .mobile-nav-toggle {
    color: #E80358;
    font-size: 40px;
    line-height: 0;
    margin-right: 0px;
    cursor: pointer;
    /* transition: color 0.3s; */

  }

  .navglass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }




  /* In your CSS file or styles block */
  .dialog-transform {
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
  }

  .dialog-transform-open {
    visibility: visible;
    transition: transform 0.5s;
    transform: translate3d(-100%, 0, 0) rotateY(15deg);
  }


}

.custom-cursor::after {
  content: "|";
  /* You can use any character here */
  font-size: 40px;
  
  /* Adjust the font size to increase thickness */
  margin-left: 5px;
  color: white;
  background-color: white;
  /* Adjust the spacing if needed */

  animation: blink 1s infinite;
  /* Adjust the animation duration as needed */
}

@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 1;
  }

  
}

.navglass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.text-underline-red {
  text-decoration-color: #E80358;
}
.text-E80358 {
  color: #E80358;
}

.rotating {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
